@font-face {
  font-family: 'GilroyExtraBold';
  src: url(../fonts/Gilroy/Gilroy-ExtraBold.otf);
}

@font-face {
  font-family: 'GilroyLight';
  src: url(../fonts/Gilroy/Gilroy-Light.otf);
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url(../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'OpenSansBold';
  src: url(../fonts/open-sans/OpenSans-Bold.ttf);
}