{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="article">
            <h1 class="signatures-titles">Zoznam všetkých podpísaných ({{ signatures_count }})</h1>

            <p>
                <a href="/">Naspäť na text výzvy</a>
            </p>

            <div class="signatures-list">
                {% for signature in signatures %}
                    {{ signature.firstName }} {{ signature.lastName }}{% if signature.occupation is not null %}<span class="signature-occupation">, {{ signature.occupation }}</span>{% endif %}<br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}