<p>
    veríme, že autenticky žité kresťanské hodnoty vo svojej komplexnosti slúžia spoločnému dobru. Výber len niektorých a ich zneužívanie na rozdeľovanie spoločnosti a budovanie nenávisti nemá nič spoločné s posolstvom evanjelia.
</p><p>
    Máme za sebou roky chaosu a neschopnosti, pýchy a predsudkov, hnevu a osamelosti. Mnohí túžia po vláde pevnej ruky, ktorá urobí poriadok. No nie je morálne usilovať oň rozsievaním strachu a nenávisti.
</p><p>
    Spravodlivý poriadok predpokladá rešpektovanie ľudskej slobody a dôstojnosti a nesmie znamenať umlčanie iných názorov.
</p><p>
    Zachovajme si obozretnosť voči politikom, ktorí používajú slovník kresťanstva, ale nehovoria jazykom Ježiša Krista.
</p><p>
    “Nie” politickému mesianizmu, ktorý hľadá inšpiráciu v orbánovskom autokratickom nacionalizme, trumpovskej rozdeľujúcej nadutosti, či dokonca putinovskom vražednom imperializme.
</p><p>
    “Nie” selektívnej láske k blížnemu, ktorá znevažuje politických oponentov a ich rodiny, vulgárne nadáva ľuďom iného názoru, nenávidí utečencov z Ukrajiny, Sýrie a iných vojnou zmietaných krajín, zatracuje ľudí inej sexuálnej orientácie či identity.
</p><p>
    “Nie” rozdeľujúcemu strachu na barikádach, ktorý sa spája s extrémistami, šíri klamstvá a hoaxy, rozsieva nenávisť, buduje rozdelenie a hádže okolo seba kamene.
</p><p>
    “Áno” pokojnému počúvaniu, ktoré vo vecnom dialógu v atmosfére slobody a zodpovednosti hľadá to najlepšie pre spoločné dobro všetkých.
</p><p>
    “Áno” kresťanským hodnotám v politike, ktoré majú pred očami ochranu a dôstojnosť ľudského života od počatia po prirodzenú smrť, starostlivosť o chudobných a slabých, všeobecné určenie dobier, solidaritu a starostlivosť o náš spoločný domov.
</p><p>
    “Áno” odvážnym riešeniam, ktoré ponúkajú fungujúce a systémové reformy v zdravotníctve, školstve, financiách, spravodlivosti a ďalších odvetviach.
</p><p>
    Ako kresťania veríme, že Ježiš je Cesta, Pravda a Život, preto odmietame politiku nenávisti, klamstva a strachu.
</p>
<div class="main-signatures">
    <p>
        <strong>Benjamin Uhrin</strong>, predseda Rady Bratskej jednoty baptistov v SR<br>
        <strong>Peter Jacko</strong>, vikár provinciála, SDB<br>
        <strong>Daniel Pastirčák</strong>, kazateľ Cirkvi bratskej<br>
        <strong>Michal Handzuš</strong>, bývalý hokejový reprezentant<br>
        <strong>Iva Mrvová</strong>, novinárka a akademička<br>
        <strong>Anežka Karľa</strong>, konzultantka, koučka<br>
        <strong>Michal Novota</strong>, poradca prezidentky SR<br>
        <strong>Martin Královič</strong>, štátny tajomník<br>
        <strong>Ján Pallo</strong>, riaditeľ The Slovak Spectator<br>
        <strong>Michal Oláh</strong>, vysokoškolský profesor a novinár<br>
        <strong>Lívia Halmkan Smiešna</strong>, riaditeľka neziskovej organizácie (Tlakový hrniec, n.o.)<br>
        <strong>Peter Málik</strong>, vysokoškolský učiteľ<br>
        <strong>Ján Lunter</strong>, podnikateľ a bývalý predseda banskobystrického samosprávneho kraja<br>
        <strong>Lukáš Košťál</strong>, zakladateľ portálu Bezhraničná láska<br>
        <strong>Miroslav Gašpárek</strong>, CEO Sensible Biotechnologies, Univerzita v Oxforde<br>
        <strong>Milan Lichý</strong>, lesný inžinier, poslanec mesta Banská Bystrica a samosprávneho kraja<br>
        <strong>Jakub Betinský</strong>, filozof a pedagóg<br>
        <strong>Dávid Mário Chuchút</strong>, evanjelikálny teológ<br>
        <strong>Martin Fedorko</strong>, IT konzultant, bloger a dobrovoľník<br>
        <strong>Filip Likavčan</strong>, programátor a dobrovoľník<br>
        <strong>Ondrej Druga</strong>, historik, komunitný organizátor<br>
        <strong>Adriana Drugová</strong>, projektová menežérka<br>
        <strong>Miriam Vyšňovská</strong>, grafická dizajnérka<br>
        <strong>Dávid Kapusta</strong>, právnik, poslanec mesta Banská Bystrica a samosprávneho kraja<br>
    </p>
</div>
