<p>
    hlásiaci sa ku kresťanským hodnotám, vyjadrujeme hlboké znepokojenie nad
    vyjadreniami a konaním predsedu vlády SR, členov vlády SR, poslancov NR SR a ostatných verejných činiteľov, ktorí
    dlhodobo šíria nenávisť a rozdeľujú našu spoločnosť.
</p>
<p>
    Nakoľko viacerí z nich sa opakovane odvolávajú na kresťanské hodnoty a svojou rétorikou dlhodobo cielia na
    kresťansky zameraných voličov, považujeme za svoju kresťanskú povinnosť pripomenúť im, že:
</p>
<p>
<ol>
    <li>Láska k blížnemu a pomoc núdznemu znamená prejavovať úctu voči každému človeku. Osobné útoky a vyhrážanie sa
        ľuďom trpiacim vojnovým konfliktom, študentom, odborníkom, novinárom či aktivistom nepatria do úst najvyšších
        štátnych predstaviteľov.
    </li>
    <li>Milosrdenstvo a odpustenie sú základom pre hľadanie riešení spoločenských napätí. Politická pomsta, podnecovania
        k verbálnym i fyzickým útokom, vyvolávanie strachu a šírenie poplašných správ sú diskvalifikáciou na zastávanie
        akejkoľvek politickej funkcie.
    </li>
    <li>Spravodlivosť a pravda sa nedajú budovať na papalášizme a klamstvách. Presadzovanie beztrestnosti pre seba a
        svojich priateľov, uprednostňovanie osobných výhod a užívanie si luxusu doma i v zahraničí sa nedá prekrývať
        balamutením a hádzaním špiny na politických oponentov.
    </li>
</ol>

<p>
    Odsúdili sme konanie človeka, ktorý sa dopustil bezprecedentného atentátu na pána premiéra Roberta Fica a modlili
    sme sa za jeho uzdravenie. Dnes rovnako odsudzujeme hrubé zneužívanie tohto hrozného činu na ospravedlnenie
    akéhokoľvek politického konania pána premiéra a jeho spolupracovníkov.
</p>
<p>
    Kresťanstvo je vybudované na princípoch skutočnej slobody a dôstojnosti človeka, a preto odmietame snahy o ťahanie
    Slovenska na autokratický Východ. Je to cesta, ktorá podkopáva demokratické a kultúrne základy, na ktorých naša
    krajina stojí.
</p>
<p>
    Vyjadrujeme plnú podporu pokojným občianskym protestom proti vládnym predstaviteľom, ktorí zanevreli na svoje
    poslanie. Vyzývame všetkých ľudí dobrej vôle, ktorým záleží na našej vlasti, Slovenskej republike, aby sme prekonali
    názorové rozdiely a prispeli k vzájomnej jednote a spoločnému dobru.

</p>
<p>
    <strong>Benjamin Uhrin</strong>, predseda Rady Bratskej jednoty baptistov a vysokoškolský pedagóg<br>
    <strong>Daniel Pastirčák</strong>, kazateľ Cirkvi bratskej<br>
    <strong>Ján Oslík</strong>, evanjelický farár v Modre<br>
    <strong>Eva Oslíková</strong>, evanjelická farárka v Modre<br>
    <strong>Peter Jacko</strong>, vikár provinciála, SDB<br>
    <strong>Daniel Hevier</strong>, spisovateľ<br>
    <strong>František Mikloško</strong>, bývalý disident a predseda NR SR<br>
    <strong>Emília Sičáková Beblavá</strong>, vysokoškolská profesorka<br>
    <strong>Ján Lunter</strong>, bývalý predseda Banskobystrického samosprávneho kraja<br>
    <strong>Martin Husovský</strong>, hudobný skladateľ, skupina Komajota<br>
    <strong>Janais</strong>, speváčka<br>
    <strong>Jana Zubajová</strong>, speváčka, textárka a skladateľka, Spoločenstvo Piar<br>
    <strong>Lukas Zubaj</strong>, učiteľ, skladateľ a producent, Spoločenstvo Piar<br>
    <strong>Dávid Slavkovský</strong>, hudobník, kresťanský aktivista<br>
    <strong>Mária Kohutiarová</strong>, redaktorka a teologička<br>
    <strong>Lukáš Košťál</strong>, zakladateľ projektu Bezhraničná láska<br>
    <strong>Martin Královič</strong>, nočný primátor Bratislavy<br>
    <strong>Peter Málik</strong>, teológ a vysokoškolský pedagóg<br>
    <strong>Iva Mrvová</strong>, reportérka a publicistka<br>
    <strong>Braňo Bezák</strong>, publicista<br>
    <strong>Michal Brat</strong>, marketingový manažér<br>
    <strong>Ján Bučkuliak</strong>, programátor, majiteľ IT firmy<br>
    <strong>Michal Oláh</strong>, vysokoškolský profesor a novinár<br>
    <strong>Ján Pallo</strong>, riaditeľ The Slovak Spectator<br>
    <strong>Pavol Hric</strong>, Múzeum obetí komunizmu<br>
    <strong>Miriam Vyšňovská</strong>, grafická dizajnérka<br>
    <strong>Filip Likavčan</strong>, programátor, dobrovoľník<br>
    <strong>Ondrej Druga</strong>, historik, folklorista<br>
    <strong>Martin Fedorko</strong>, IT konzultant, bloger<br>
    <strong>Peter Hric</strong>, učiteľ na gymnáziu<br>
    <strong>David Kapusta</strong>, právnik, poslanec mesta Banská Bystrica a samosprávneho kraja<br>
    <strong>Veronika Poklembová</strong>, projektová manažérka<br>
    <strong>Tereza Froncová</strong>, hudobníčka<br>
    <strong>Stanislav Piatrik</strong>, vizuálny umelec<br>
    <strong>Mária Piatriková</strong>, performatívna umelkyňa<br>
    <strong>Samuel Jezný</strong>, evanjelický teológ<br>
    <strong>Anežka Karľa</strong>, konzultantka, koučka<br>
    <strong>Danka Kubičková</strong>, riaditeľka katolíckej základnej školy s materskou školou<br>
    <strong>Ladislav Čarný</strong>, výtvarník a vysokoškolský pedagóg<br>
    <strong>Milan Lichý</strong>, poslanec MsZ B.Bystrica a BBSK<br>
    <strong>Silvia Lehutová</strong>, prezident Združenia Zázračnej medaily, vetva Vincentskej rodiny na Slovensku<br>
    <strong>Jozef Wallenfels</strong>, asistent poslanca NRSR<br>
    <strong>Zuzana Bošnáková</strong>, poslankyňa Trnavského samosprávneho kraja a riaditeľka sociálneho zariadenia<br>
</p>
