<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>title here</title>
    </head>
    <body>
        <p>
            Dobrý deň {{ signature.firstName }} {{ signature.lastName }},
        </p>

        <p>
            ďakujeme, že ste sa svojim podpisom pridali pod vyhlásenie Kresťania proti nenávisti.
        </p>

        <p>
            Žiaľ, v našom systéme stále neevidujeme jeho potvrdenie.
        </p>

        <p>
            <strong>Prosím, kliknite na tlačidlo nižšie a potvrďte svoj podpis pod týmto vyhlásením.</strong>
        </p>

        <p>
            Bez potvrdenia nemôžeme Váš podpis zarátať.
        </p>

        <p>
            Ďakujeme!
        </p>

        <p style="margin-top: 20px; margin-bottom: 30px;">
            <a href="{{ verification_link }}" style="display: block; width: 300px; color: #591c48; background-color: #f9b22a;
        padding-top: 15px; padding-left: 30px; padding-bottom: 15px; padding-right: 30px; text-align: center;
        font-size: 16px; text-decoration: none; font-weight: bold; border-radius: 5px;">POTVRDIŤ PODPIS</a>
        </p>

        <p>
            (ak vám tlačidlo nefunguje, použite tento odkaz {{ verification_link }})
        </p>

        <p>
            S pozdravom,<br>
            organizátori výzvy Kresťania proti nenávisti
        </p>

        <p style="color: silver;">
            PS: Súhlas so zasielaním emailov môžete kedykoveľvek odvolať poslaním emailu na adresu <a href="mailto:gdpr@krestaniaprotinenavisti.sk" style="color: silver;" >gdpr@krestaniaprotinenavisti.sk</a>.
            Viac o ochrane Vašich osobných údajov nájdete <a style="color: silver;" href="https://krestaniaprotinenavisti.sk/pravidla-ochrany-osobnych-udajov">tu</a>.
        </p>
    </body>
</html>