<p>
    Dobrý deň {{ signature.firstName }} {{ signature.lastName }},
</p>

<p>
    ďakujeme za Váš podpis pod výzvou Kresťania proti nenávisti! Na overenie podpisu prosím kliknite na "Overiť podpis":
</p>

<p style="margin-top: 30px; margin-bottom: 30px;">
    <a href="{{ verification_link }}" style="display: block; width: 300px; color: #591c48; background-color: #f9b22a;
padding-top: 15px; padding-left: 30px; padding-bottom: 15px; padding-right: 30px; text-align: center;
font-size: 16px; text-decoration: none; font-weight: bold; border-radius: 5px;">OVERIŤ PODPIS</a>
</p>

<p>
    Bez overenia Váš podpis nebude pridaný.
</p>

<p>
    Ak by Vám z nejakého dôvodu nešlo kliknúť na odkaz, tak skopírujte tento odkaz a vložte ho do prehliadača: {{ verification_link }}
</p>

<p>
    S pozdravom,<br>
    Organizátori výzvy Kresťania proti nenávisti
</p>

<p style="color: silver;">
    PS: Súhlas so zasielaním emailov môžete kedykoveľvek odvolať poslaním emailu na adresu <a href="mailto:gdpr@krestaniaprotinenavisti.sk" style="color: silver;" >gdpr@krestaniaprotinenavisti.sk</a>.
    Všetky Vaše práva si môžete prečítať v <a style="color: silver;" href="https://krestaniaprotinenavisti.sk/pravidla-ochrany-osobnych-udajov">Pravidlách ochrany osobných údajov</a>.
</p>