{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="article">
            <p>
                <a href="/">Naspäť na text výzvy</a>
            </p>

            <h1>
                Spravovať cookies
            </h1>
            <script id="CookieDeclaration" src="https://consent.cookiebot.com/015a6801-96d6-4a05-a5f2-f2afca77bf19/cd.js" type="text/javascript" async></script>
        </div>
    </div>
{% endblock %}
