{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="article">
            <h1>
                Overte Váš podpis kliknutím na odkaz, ktorý sme Vám poslali emailom. Ďakujeme!
            </h1>
            <h2>
                Bez overenia Váš podpis nebude pridaný.
            </h2>

            <p style="margin-top: 50px;">
                <a href="/">Naspäť na text výzvy</a>
            </p>
        </div>
    </div>
{% endblock %}