{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="article">
            <p>
                <a href="/">Naspäť</a>
            </p>

            <h1>
                Pravidlá ochrany osobných údajov
            </h1>

            <p>
                Ondrej Druga – stojím za iniciatívou Kresťania proti nenávisti.<br>
                Nemáme právnu formu. Som rád, že chcete byť toho súčasťou.
            </p>
            <p>
                Organizátori, ktorí budú mať prístup k Vašim osobným údajom - uvádzame menovite a budú pre Vás kontaktnými
                osobami:
            </p>
            <p>
                Ondrej Druga - gdpr@krestaniaprotinasiliu.sk
            </p>
            <p>
                Dbáme na to, aby sme všetky Vaše osobné údaje, spracúvali v súlade s platnými právnymi predpismi v tejto
                oblasti. Tieto Pravidlá ochrany osobných údajov boli pripravené s ohľadom na nové Nariadenie Európskeho
                parlamentu a Rady (EU) 2016/679 z 27. apríla 2016 o ochrane fyzických osôb pri spracúvaní osobných
                údajov a o voľnom pohybe takýchto údajov (ďalej len „Nariadenie“) a zároveň s ohľadom na zákon č.
                122/2013 Z.z. o ochrane osobných údajov v znení neskorších predpisov (ďalej len „Zákon“), ktorý bude
                neskôr nahradený zákonom 18/2018 Z. z. o ochrane osobných údajov a o zmene a doplnení niektorých zákonov
                (ďalej len „Nový Zákon“). Pravidlá objasňujú, ktoré osobné údaje vo všeobecnosti zhromažďujeme v rámci
                našej činnosti a ako tieto údaje používame a chránime.
            </p>

            <h2>1. Ktoré údaje spracúvame</h2>

            <p>
                Vo všeobecnosti spracúvame len také osobné údaje, ktoré nám sami poskytnete. Sú to najmä nasledovné
                osobné údaje:
            </p>

            <h3>a) Kontaktné údaje</h3>
            <p>
                Medzi kontaktné údaje zaraďujeme adresu elektronickej pošty, krstné meno, priezvisko, povolanie a
                mesto/obec.
            </p>

            <h3>b) Údaje zahrnuté v komunikácii</h3>
            <p>
                Medzi údaje zahrnuté v komunikácii zaraďujeme v prvom rade akékoľvek osobné údaje poskytnuté nám v rámci
                komunikácie, ale zároveň aj samotný obsah komunikácie, teda napríklad obsah e-mailu, či facebookovej
                správy.
            </p>

            <h2>2. Ako údaje používame a účel spracúvania osobných údajov</h2>
            <p>
                Osobné údaje organizátorov a záujemcov o iniciatívu Kresťania proti nenávisti zhromažďujeme a využívame
                v súlade a na
                základe platných právnych predpisov, uzatvorenej zmluvy a/alebo dobrovoľne udelených súhlasov a
                oprávnených záujmov na viacero účelov, a to najmä za účelom získania podporného podpisu pod našu výzvu,
                komunikácie s Vami ako aj informovania Vás o našej
                činnosti.
                Poskytnutie Vašich osobných údajov je dobrovoľné, nemáte žiadnu zákonnú ani zmluvnú povinnosť nám tieto
                údaje poskytnúť. Miera osobných údajov, ktoré nám poskytnete záleží na Vás. Niektoré Vaše osobné údaje
                môžeme aj zverejniť na webstránke, ak s tým budete explicitne súhlasiť.
            </p>

            <h2>3. Ako údaje zdieľame</h2>
            <p>Vaše osobné údaje nezdieľame s nikým. Nemáme žiadne osoby, ktoré by Vaše osobné údaje spracúvali za nás. Pri
            našich aktivitách však využívame bežne dostupné nástroje spracúvania a zdieľania dát ako napr. Google Drive,
            Google Forms, Gmail a podobne, ktoré môžu obsahovať aj Vaše osobné údaje. Vždy dbáme na to, aby prístup k
                Vašim osobným údajom mal len úzky okruh ľudí a overených partnerov.</p>

            <h2>4. Ako môžete nakladať s Vašimi údajmi</h2>
            <p>Ako dotknutá osoba máte v stanovenom rozsahu právo rozhodovať o nakladaní s Vašimi osobnými údajmi. Uplatniť
            nižšie uvedené práva môžete kontaktovaním Ondrej Druga (gdpr@krestaniaprotinenavisti.sk) prostredníctvom uvedeného e-mailu.
                Budeme sa Vám snažiť odpovedať čo najskôr, vždy Vám
            však odpovieme najneskôr do jedného mesiaca od Vašej žiadosti. V prípade pochybnosti o Vašej totožnosti Vás
                môžeme požiadať, o dodatočné overenie Vašej totožnosti.</p>

            <p>Platné právne predpisy ako sú Zákon, resp. od 25.5.2018 Nariadenie a Nový Zákon Vám zabezpečujú najmä:</p>

            <h3>a) Právo na prístup</h3>
            <p>Máte právo od nás požadovať potvrdenie o tom, či sa spracúvajú Vaše osobné údaje, a pokiaľ tomu tak je,
            získať kópiu týchto údajov a dodatočné informácie vyplývajúce z § 28 Zákona, resp. neskôr čl. 15 Nariadenia
            a § 21 Nového Zákona. V prípade, že o Vás získavame veľké množstvo údajov, môžeme od Vás požadovať, aby ste
                špecifikovali svoju požiadavku na okruh konkrétnych údajov, ktoré o Vás spracúvame.</p>

            <h3>b) Právo na opravu</h3>
            <p>K tomu, aby sme o Vás neustále spracúvali len aktuálne osobné údaje potrebujeme, aby ste nám ich zmenu
            oznámili čo najskôr ako nastane. V prípade, že o Vás spracúvame nesprávne údaje, máte právo požadovať ich
                opravu, ktorú na základe Vašej žiadosti vykonáme.</p>

            <h3>c) Právo na výmaz</h3>
            <p>Ak budú naplnené podmienky § 17 Zákona, resp. neskôr článku 17 Nariadenia a § 23 Nového Zákona, môžete
            požadovať výmaz Vašich osobných údajov. O výmaz preto môžete žiadať napríklad ak ste odvolali Váš súhlas so
            spracúvaním, úspešne namietli náš oprávnený záujem a neexistuje iný právny základ spracúvania, alebo v
            prípade, že Vaše osobné údaje spracúvame nezákonne, alebo sa pominul účel, na ktorý sme Vaše osobné údaje
            spracúvali a nespracúvame ich za iným kompatibilným účelom. Vaše údaje však nevymažeme, ak sú potrebné na
                preukazovanie, uplatňovanie alebo obhajovanie právnych nárokov.</p>

            <h3>d) Právo na obmedzenie spracúvania</h3>
            <p>Ak budú naplnené podmienky § 28 Zákona, resp. neskôr článku 18 Nariadenia a § 24 Nového Zákona, môžete od
            nás požadovať, aby sme obmedzili spracúvanie Vašich osobných údajov. O obmedzenie preto môžete žiadať
            napríklad, počas toho ako namietate správnosť spracúvaných údajov alebo v prípade, že je spracúvanie
            nezákonné a Vy si neželáte, aby sme údaje vymazali, ale potrebujete, aby ich spracúvanie bolo obmedzené
            počas toho ako si uplatníte Vaše práva. Vaše údaje naďalej spracúvame ak existujú dôvody na preukazovanie,
                uplatňovanie alebo obhajovanie právnych nárokov.</p>

            <h3>e) Právo na prenosnosť</h3>
            <p>Ak je spracúvanie založené na Vašom súhlase alebo vykonávané za účelom plnenia s Vami uzatvorenej zmluvy a
            zároveň vykonávané automatizovanými prostriedkami, máte právo od nás obdržať Vaše osobné údaje, ktoré sme od
            Vás získali v bežne používanom strojovo čitateľnom formáte. Ak o to budete mať záujem a bude to technicky
            možné, Vaše osobné údaje prenesieme priamo k inému prevádzkovateľovi. Toto právo nebude možné uplatniť na
            spracúvanie vykonávané z dôvodu plnenia úlohy realizovanej vo verejnom záujme alebo pri výkone verejnej
                moci.</p>

            <h3>f) Právo namietať voči spracúvaniu</h3>
            <p>Ak spracúvame Vaše osobné údaje z dôvodu plnenia úlohy realizovanej vo verejnom záujme alebo pokiaľ je
            spracúvanie vykonávané na základe našich oprávnených záujmov či oprávnených záujmov tretej strany, máte
            právo namietať voči takémuto spracúvaniu. Na základe Vašej námietky spracúvanie osobných údajov obmedzíme a
            pokiaľ nepreukážeme závažné oprávnené dôvody spracúvania, ktoré prevažujú nad Vašimi záujmami, právami a
            slobodami alebo dôvody na preukazovanie, uplatňovanie alebo obhajovanie právnych nárokov, osobné údaje
                naďalej spracúvať nebudeme a Vaše osobné údaje vymažeme.</p>

            <p>Máte právo kedykoľvek namietať proti spracúvaniu osobných údajov na účely priameho marketingu. Po vznesení
                námietky Vaše osobné údaje už na tento účel spracúvať nebudeme.</p>

            <h3>g) Právo podať sťažnosť</h3>
            <p>Ak sa domnievate, že spracúvanie Vašich osobných údajov je v rozpore s Zákonom, resp. neskôr Nariadením či
            Novým Zákonom, máte právo podať sťažnosť na jeden z príslušných dozorných orgánov, najmä v členskom štáte
            Vášho obvyklého pobytu, miesta výkonu práce alebo v miesta údajného porušenia. Pre územie Slovenskej
            republiky je dozorným orgánom Úrad pre ochranu osobných údajov, so sídlom: Hraničná 4826/12, 820 07
                Bratislava, Slovenská republika, web: www.dataprotection.gov.sk, tel.: +421 /2/ 3231 3220.</p>

            <h3>h) Právo odvolať súhlas</h3>
            <p>Ak je spracúvanie Vašich osobných údajov založené na súhlase, máte právo tento súhlas kedykoľvek odvolať.
                Odvolanie súhlasu nemá vplyv na už vykonané spracúvanie.</p>

            <h2>5. Odkiaľ máme Vaše údaje</h2>
            <p>Osobné údaje, ktoré spracúvame získavame priamo od Vás.</p>

            <h2>6. Ako dlho a kde údaje uchovávame</h2>
            <p>Vaše osobné údaje uchovávame do skončenia účelu v bode 2, avšak najneskôr do odvolania súhlasu.</p>

            <h2>7. Zmeny týchto pravidiel</h2>
            <p>Znenie týchto Pravidiel sme oprávnení z času na čas zmeniť, najmä za účelom zapracovania legislatívnych
            zmien, či zmien účelu a prostriedkov spracúvania. Vaše práva vyplývajúce z týchto pravidiel alebo
            príslušných právnych predpisov však neobmedzíme. V prípade, že dôjde k zmenám pravidiel spôsobilým ovplyvniť
                Vaše práva, vhodným spôsobom Vás nato s dostatočným predstihom upozorníme.</p>
        </div>
    </div>
{% endblock %}